### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [209]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [210]:
# read merged files
school_data_complete.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [254]:
# idenfity schools
total_schools = len(school_data_complete["school_name"].unique())
print(total_schools)

15

In [255]:
# count students
# total_students = len(school_data_complete["size"])
len(school_data_complete)
print(total_students)

39170

In [267]:
# total budget - use read file 'school_data' to total budget from school file only             
total_budget = (school_data)["budget"].sum()
#school_data_complete.budget.count()
print(total_budget)

24649428

In [268]:
# ave math score
ave_math = (school_data_complete)["math_score"].mean()
print(ave_math)

78.98537145774827

In [269]:
# ave reading score
ave_reading = (school_data_complete["reading_score"]).mean()

print(ave_reading)

81.87784018381414

In [270]:
# percentage of students with a passing math score (70 or greater)   

#Number of students who passed
percent_pass_math = school_data_complete.loc[school_data_complete['math_score']>=70,:]
len(percent_pass_math)

#Get the percentage
len(percent_pass_math)/len(school_data_complete)*100

74.9808526933878

In [326]:
# percentage of students with a passing reading score (70 or greater)

#Number of students who passed
percent_pass_reading = school_data_complete.loc[school_data_complete['reading_score']>=70,:]
len(percent_pass_reading)

#Get the percentage
len(percent_pass_reading)/len(school_data_complete)*100

85.80546336482001

In [402]:
# percentage of students who passed math and reading

#percent_pass_both = percent_pass_math * percent_pass_reading
#overall_passing_percentage = overall_passing_math_reading_count/ new_student_count * 100   Vijay
  #school_data_complete[len(percent_pass_math)]+
    #school_data_complete[len(percent_pass_reading)]
#percent_pass_both = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]

percent_pass_both = percent_pass_math *  percent_pass_reading
print(percent_pass_both)

TypeError: can't multiply sequence by non-int of type 'float'

In [344]:
# create data frame                                                  # refer to  GoodReadsSummary.ipynb 
district_summary = pd.DataFrame({"Total Schools": total_schools,
                "Total Students": total_students,
                "Total Budget": total_budget,
                "Average Math Score": ave_math,
                "Average Reading Score": ave_reading,
                "% Passing Math": percent_pass_math,
                "% Passing Reading": percent_pass_reading,
                "% Overall Passing": percent_pass_both})

district_summary

ValueError: Shape of passed values is (11, 8), indices imply (15, 8)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [305]:
# group school summary by school
grouped_schools_df = school_data_complete.set_index("school_name").groupby(["school_name"])

# In order to be visualized, a data function must be used...
grouped_schools_df
print(grouped_schools_total_students)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [306]:
# school type                                                
grouped_schools_type = school_data.set_index("school_name")["type"]  
grouped_schools_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [307]:
# calcualte total number of students in each school  
grouped_schools_total_students = grouped_schools_df["Student ID"].count()
print(grouped_schools_total_students)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [308]:
# calculate total school budget
grouped_schools_budget = school_data.set_index("school_name")["budget"]
print(grouped_schools_budget)

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [309]:
# calculate budget per student
grouped_schools_per_student_budget = grouped_schools_budget / grouped_schools_total_students
print(grouped_schools_per_student_budget)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [310]:
# average math score per school
grouped_schools_ave_math = grouped_schools_df["math_score"].mean()
print(grouped_schools_ave_math)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [311]:
# average reading score per school

grouped_schools_ave_reading = grouped_schools_df["reading_score"].mean()
print(grouped_schools_ave_reading)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [312]:
# percent passing math

percent_pass_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()/grouped_schools_total_students 
print(percent_pass_math)

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
Name: Student ID, dtype: float64

In [313]:
# percent passing reading
percent_pass_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()/grouped_schools_total_students 
print(percent_pass_reading)

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
Name: Student ID, dtype: float64

In [318]:
# percent passing overall
grouped_schools_percent_pass_overall = (percent_pass_math * percent_pass_reading)*100
print(grouped_schools_percent_pass_overall)

school_name
Bailey High School       54.633164
Cabrera High School      91.346964
Figueroa High School     53.278586
Ford High School         54.168841
Griffin High School      90.720382
Hernandez High School    53.978451
Holden High School       89.039593
Huang High School        53.411814
Johnson High School      53.653550
Pena High School         90.759679
Rodriguez High School    53.239316
Shelton High School      89.975980
Thomas High School       90.762094
Wilson High School       90.619558
Wright High School       90.170370
Name: Student ID, dtype: float64

In [319]:
# create data frame                                                       # refer to  GoodReadsSummary.ipynb 
school_summary = pd.DataFrame({
                "School Type": grouped_schools_type,
                "Total Students": grouped_schools_total_students,
                "Total Budget": grouped_schools_per_student_budget,
                "Toal Budget Per Student": grouped_schools_per_student_budget,
                "Average Math Score": grouped_schools_ave_math,
                "Average Reading Score": grouped_schools_ave_reading,
                "% Passing Math": grouped_schools_percent_pass_math,
                "% Passing Reading": grouped_schools_percent_pass_reading,
                "% Overall Passing": grouped_schools_percent_pass_overall})

school_summary

,School Type,Total Students,Total Budget,Toal Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,628.0,628.0,77.048432,81.033963,74.980853,85.805463,54.633164
Cabrera High School,Charter,1858,582.0,582.0,83.061895,83.975780,74.980853,85.805463,91.346964
Figueroa High School,District,2949,639.0,639.0,76.711767,81.158020,74.980853,85.805463,53.278586
Ford High School,District,2739,644.0,644.0,77.102592,80.746258,74.980853,85.805463,54.168841
Griffin High School,Charter,1468,625.0,625.0,83.351499,83.816757,74.980853,85.805463,90.720382
Hernandez High School,District,4635,652.0,652.0,77.289752,80.934412,74.980853,85.805463,53.978451
Holden High School,Charter,427,581.0,581.0,83.803279,83.814988,74.980853,85.805463,89.039593
Huang High School,District,2917,655.0,655.0,76.629414,81.182722,74.980853,85.805463,53.411814
Johnson High School,District,4761,650.0,650.0,77.072464,80.966394,74.980853,85.805463,53.653550
Pena High School,Charter,962,609.0,609.0,83.839917,84.044699,74.980853,85.805463,90.759679
Rodriguez High School,District,3999,637.0,637.0,76.842711,80.744686,74.980853,85.805463,53.239316
Shelton High School,Charter,1761,600.0,600.0,83.359455,83.725724,74.980853,85.805463,89.975980
Thomas High School,Charter,1635,638.0,638.0,83.418349,83.848930,74.980853,85.805463,90.762094
Wilson High School,Charter,2283,578.0,578.0,83.274201,83.989488,74.980853,85.805463,90.619558
Wright High School,Charter,1800,583.0,583.0,83.682222,83.955000,74.980853,85.805463,90.170370

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [345]:
# Sort and display the top five performing schools by % overall passing
top_performing_schools_df = school_summary.sort_values("% Overall Passing", ascending=[False])
top_performing_schools_df.head()

,School Type,Total Students,Total Budget,Toal Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,582.0,582.0,83.061895,83.975780,74.980853,85.805463,91.346964
Thomas High School,Charter,1635,638.0,638.0,83.418349,83.848930,74.980853,85.805463,90.762094
Pena High School,Charter,962,609.0,609.0,83.839917,84.044699,74.980853,85.805463,90.759679
Griffin High School,Charter,1468,625.0,625.0,83.351499,83.816757,74.980853,85.805463,90.720382
Wilson High School,Charter,2283,578.0,578.0,83.274201,83.989488,74.980853,85.805463,90.619558

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [346]:
# sort_values()
# Sort and display the bottom five performing schools by % overall passing
top_performing_schools_df = school_summary.sort_values("% Overall Passing", ascending=[True])
top_performing_schools_df.head()

,School Type,Total Students,Total Budget,Toal Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,637.0,637.0,76.842711,80.744686,74.980853,85.805463,53.239316
Figueroa High School,District,2949,639.0,639.0,76.711767,81.158020,74.980853,85.805463,53.278586
Huang High School,District,2917,655.0,655.0,76.629414,81.182722,74.980853,85.805463,53.411814
Johnson High School,District,4761,650.0,650.0,77.072464,80.966394,74.980853,85.805463,53.653550
Hernandez High School,District,4635,652.0,652.0,77.289752,80.934412,74.980853,85.805463,53.978451

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [371]:
# Create a pandas series for each grade
nine = student_data.loc[student_data["grade"] == '9th']
ten = student_data.loc[student_data["grade"] == '10th']
eleven = student_data.loc[student_data["grade"] == '11th']
twelve = student_data.loc[student_data["grade"] == '12th']

In [372]:
# group by school
nine_group = nine.groupby("school_name")["math_score"].mean()
ten_group = ten.groupby("school_name")["math_score"].mean()
eleven_group = eleven.groupby("school_name")["math_score"].mean()
twelve_group = twelve.groupby("school_name")["math_score"].mean()

In [373]:
# create df
math_scores = pd.DataFrame({"9th": nine_group, 
                            "10th": ten_group, 
                            "11th": eleven_group, 
                            "12th": twelve_group})

math_scores

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [378]:
# Create a pandas series for each grade
#nine = student_data.loc[student_data["grade"] == '9th']
#ten = student_data.loc[student_data["grade"] == '10th']
#eleven = student_data.loc[student_data["grade"] == '11th']
#twelve = student_data.loc[student_data["grade"] == '12th']

In [381]:
# group by school
nine_read_group = nine.groupby("school_name")["reading_score"].mean()
ten_read_group = ten.groupby("school_name")["reading_score"].mean()
eleven_read_group = eleven.groupby("school_name")["reading_score"].mean()
twelve_read_group = twelve.groupby("school_name")["reading_score"].mean()

In [382]:

# create df
reading_scores = pd.DataFrame({"9th": nine_read_group, 
                            "10th": ten_read_group, 
                            "11th": eleven_read_group, 
                            "12th": twelve_read_group})

reading_scores

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [407]:
# create dictionary
#school_spending = ({"Average Math Score": ['83.46', '81.90', '78.52', '77.00'],
#                    "Average Reading Score": ['83.93', '83.16', '81.62', '81.03'],
#                   "% Passing Math": ['93.46', '87.13', '73.48', '66.16'],
#                  "% Passing Reading": ['96.61', '92.72', '84.39', '81.13'],
#                "% Overall Passing ['90.37', '81.42, '62.86. '53.53']})

In [408]:
# create bins and labels    #0, 584.999, 614.999, 644.999, 999999
bins = [0, 400, 501, 601, 700]
group_labels = ['<$585', '$585-630', '$630-645', '$645-680']

In [401]:
# Slice the data and place it into bins  #grouped_schools_df

pd.cut(school_data_complete["Per Student Budget"], bins, labels=group_labels).head()

KeyError: 'Per Student Budget'

In [ ]:
# new column

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208